<hr />{% load comments html5 nested_comments misc %}{% get_comment_list for object as comments %}
	{% if comments %}
	<h2>{{ comments|length }} comment{{ comments|length|pluralize }}</h2>
	{% with request.user.is_authenticated as show_emails %}
	<ol id="comments">{% for comment in comments %}
		<li style="margin-left: {{ comment.indentation|multiply:2 }}em;" id="c{{ comment.id }}" class="lasers{% cycle 0,1,2,3,4,5,6,7,8,9 %}">
		<p>{% if comment.is_removed %}<em>[removed]</em>
		{% else %}{{ comment.comment|clickablelinks|breaklongwords|linebreaksbr }}{% endif %}</p>
		<span>&mdash; {% if comment.is_removed %}{{ comment.submit_date|html5naturalday }}{% else %}<em>{% if show_emails and comment.user_email %}<a href="mailto:{{ comment.user_email }}">{{ comment.poster_name }}</a>{% else %}{{ comment.poster_name }}{% endif %}</em>
		{% if comment.kiwi_verified %}<strong title="The author's identity has been verified by UW.">@ UW</strong>{% endif %}
		{{ comment.submit_date|html5naturalday }}
		<a href="{% url nested-comments-reply comment.id %}">(reply)</a>{% endif %}
		</span></li>{% endfor %}
	</ol>{% endwith %}
	<h2>Post a comment</h2>
	{% else %}
	<h2 id="comments">Post a comment</h2>
	{% endif %}
	{% get_comment_form for object as form %}
	<form action="{% comment_form_target %}" method="POST" id="comment_form"><table>
{% if kiwi and not request.user.is_authenticated %}
		<tr><th></th><td>You can post as
{% include "kiwi/kiwi_select_name.html" %}
		</td></tr>
{% else %}
		{% if kiwi_enabled %}<tr><th></th><td>{% if request.user.is_authenticated %}You must <a href="{% url admin:logout %}">log out</a> to post with a UW-verified username.{% else %}<a href="{% url kiwi-login %}">Login with your UW credentials</a> to post with a verified username.{% endif %}</td></tr>{% endif %}
		<tr><th>{{ form.name.label_tag }}:</th><td>{{ form.name }}{{ form.name.errors }}</td></tr>
		<tr><th>{{ form.email.label_tag }}:</th><td>{{ form.email }}{{ form.email.errors }}</td></tr>
		<tr><th>{{ form.url.label_tag }}:</th><td>{{ form.url }}{{ form.url.errors }}</td></tr>
{% endif %}
		<tr><th>{{ form.comment.label_tag }}:</th><td>{{ form.comment }}{{ form.comment.errors }}</td></tr>
		<tr><td></td><td><input type="submit" value="Reply" /></td></tr>
	</table>
{% for field in form.hidden_fields %}
	{{ field }}{% endfor %}
	<input type="hidden" name="next" value="{{ object.get_absolute_url }}" />
	</form>{# vi: set syntax=htmldjango: #}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.validate.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL}}js/comments.js"></script>
