	{% load comments humanize nested_comments %}
	<a name="comments"></a>{% get_comment_list for object as comments %}
	{% if comments %}
	<h2>{{ comments|length }} comment{{ comments|length|pluralize }}</h2>
	{% with request.user.is_authenticated as show_emails %}
	<ol class="comments">{% for comment in comments %}
		<li style="margin-left: {{ comment.indentation|multiply:2 }}em;"><a name="comment{{ comment.id }}"></a>
		<p>{% if comment.is_removed %}<em>[removed]</em>
		{% else %}{{ comment.comment|linebreaksbr }}{% endif %}</p>
		<span>&mdash; Posted {{ comment.submit_date|naturalday }} {% if not comment.is_removed %}by <em>{% if show_emails and comment.user_email %}<a href="mailto:{{ comment.user_email }}">{{ comment.poster_name }}</a>{% else %}{{ comment.poster_name }}{% endif %}</em>
		<a href="{% url nested-comments-reply comment.id %}">(reply)</a>{% endif %}
		</span></li>{% endfor %}
	</ol>{% endwith %}
	{% endif %}
	<h2>Post a comment</h2>
	{% get_comment_form for object as form %}
	<form action="{% comment_form_target %}" method="POST" id="comment_form"><table>
		{{ form.as_table }}
		<tr><td></td><td><input type="submit" value="Reply" /></td></tr>
		<input type="hidden" name="next" value="{{ object.get_absolute_url }}" />
	</table></form>{# vi: set syntax=htmldjango: #}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.validate.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL}}js/comments.js"></script>
