
/* Defaults removed by reset */
strong { font-weight: bold; }
em { font-style: oblique; }
del { text-decoration: line-through; }

body {
	font-family: Georgia, serif;
}

h1 {
	font-size: 300%;
	letter-spacing: 0.02em;
}

#hd h1 { /* logo */
	background: url("../images/logo.jpg") no-repeat;
	height: 120px;
}
#hd h1 span { display: none; }

h2 { /* deck */
	font-size: 150%;
	font-style: oblique;
}

h3 {
	font-weight: bold;
	font-size: 120%;
	letter-spacing: 0.01em;
	margin-top: 1em;
}

.section {
	text-align: right;
	font-style: oblique;
}

.copy {
	margin: 1em 0;
}
.copy p {
	line-height: 150%;
	text-align: justify;
	text-indent: 2.5em;
}
p.first { /* :first-child isn't adequate here */
	text-indent: 0;
}

p .drop { /* nor is :first-letter capable; might be several letters */
	font: normal 6em/0.75em serif;
	display: block;
	float: left;
}

.sources {
	font-style: oblique;
}

img {
	border: thin solid black;
	margin: 1em;
}

.credit {
	font: normal 90%/200% Arial, sans-serif;
	text-transform: uppercase;
}
