
/* Defaults removed by reset */
strong { font-weight: bold; }
em { font-style: oblique; }
del { text-decoration: line-through; }

body {
	font-family: Georgia, serif;
}

a {
	text-decoration: none;
	color: navy;
}
a:hover { text-decoration: underline; }
a.more { font-weight: bold; }

#hd {
	text-align: center;
}

#hd h1 { /* logo */
	background: url("../images/logo.jpg") no-repeat;
	padding-top: 120px; width: 298px;
	height: 0px;
	overflow: hidden;
	margin: 0 auto;
}

#nav li { display: inline; }
#nav li a {
	font-family: Tahoma, sans-serif;
	text-transform: uppercase;
	padding: 0 0.5em;
}

h1 {
	margin-top: 0.5em;
	font-size: 250%;
	letter-spacing: 0.02em;
}


h2 { /* deck */
	margin-top: 0.25em;
	font-size: 150%;
	font-style: oblique;
}

h3 {
	font-weight: bold;
	font-size: 120%;
	letter-spacing: 0.01em;
	margin-top: 1em;
}

div.right p {
	text-align: right;
}

.copy {
	margin: 1em 0;
	font-size: 110%;
	line-height: 175%;
}
.copy p {
	text-align: justify;
	text-indent: 2.5em;
	padding-bottom: 0.5em;
}
p.first { /* :first-child isn't adequate here */
	text-indent: 0;
}

p .drop { /* nor is :first-letter capable; might be several letters */
	font: normal 6em/0.85em serif;
	display: block;
	float: left;
}

.sources {
	text-align: right;
	font-style: oblique;
}

hr {
	color: white;
	background-color: white;
	border: thin dotted gray;
	border-style: none none dotted;
}

img {
	border: thin solid black;
}
.image {
	margin: 1em;
}
.image p { /* cutline */
	font-weight: bold;
	margin: 0.5em -2em 0 0;
	text-align: justify;
}
.image ul { /* credit */
	text-align: right;
	margin-right: -2em;
}
.image ul li {
	font: normal 75%/100% Tahoma, sans-serif;
	text-transform: uppercase;
}

.preview h1 {
	font-size: 200%;
}

.comments li { margin: 1.5em 0; }
.comments p { line-height: 170%; }
.comments span { /* comment meta */
	color: #555;
	font-style: oblique;
}
.comments span em { font-style: normal; }

.comments div { /* reply box */
	margin: 0 0 2em 2em;
	padding: 0.5em;
	background-color: #eee;
}
.comments div h3 { margin-top: 0; }

label.error {
	color: red;
	margin: 0.5em;
}

form th {
	vertical-align: top;
	padding: 0.2em 1em;
	text-align: right;
}

#ft {
	margin-top: 1em;
	color: gray;
}

.ad { text-align: center; }
.ad a { margin: 0 auto; }
