
.feds th {
	font-size: 200%;
}

.feds td {
	vertical-align: top;
}

.feds td label {
	font-weight: bold;
	margin: 0.5em;
}

.feds td p {
	margin: 0.5em;
}

.tabs {
	text-align: center;
	display: block;
	padding: 2em;
}

.tabs li {
	font-family: Tahoma, sans-serif;
	text-transform: uppercase;
	padding: 0.5em 1em;
	display: inline;
	background-color: #eee;
	border: 1px solid #ddd;
}
