#chart {
	font-size: 90%;
}

#chart th {
	font-weight: bold;
	padding: 0.5em;
	border-bottom: 1px solid black;
	background-color: #f0f0f0;
	text-align: center;
}

#chart td {
	padding: 0.75em;
	color: gray;
	vertical-align: center;
}

#chart td.left { text-align: left; }
#chart td.right { text-align: right; }
#chart td.centre { text-align: center; }

td.champ { height: 5em; vertical-align: bottom; }
#champ_label { height: 5em; vertical-align: top; }

.team {
	padding: 0.5em;
	border: thin solid gray;
}

.contesting, .pick {
	cursor: move;
	color: black;
}

.lost {
	text-decoration: line-through;
}

.pick {
	background-color: #f0f0b0 !important;
}

#chart .blank span {
	padding: 0.5em;
	background-color: #f0f0f0;
}

#chart .hover span {
	background-color: #ffffb0 !important;
}

.score {
	width: 2em;
}
