{% if editable %}
<script type="text/javascript">

var picks = {{ picks|safe }};
var unsaved = false;
var autosave_handle;
var autosave_time = 5000;

get_round = function (node) { return parseInt(/^round-(\d+)-/.exec(node.attr('id'))[1]); }
get_slot = function (node) { return parseInt(/^round-\d+-slot-(\d+)$/.exec(node.attr('id'))[1]); }

set_unsaved = function () {
	unsaved = true;
	$('#save_form input').removeAttr('disabled');
	$('#save_form span').hide();
	clearTimeout(autosave_handle);
	autosave_handle = setTimeout('save_picks("Autosaving...");', autosave_time);
}

save_picks = function (save_message) {
	clearTimeout(autosave_handle);
	picks['final-score-1'] = $('#final_score_1').val();
	picks['final-score-2'] = $('#final_score_2').val();
	var msg = $('#save_info');
	msg.text(save_message)
	$('#save_form span').show();
	$('#save_form input').attr('disabled', 'disabled');
	$.post("{% url mm-save-picks %}", picks, function (data, s, xhr) {
		msg.text(data);
		if (s == 'success')
			unsaved = false;
		else
			set_unsaved(true);
	});
}

team_allowed_in_slot = function (team, slot) {
	var src_round = get_round(team.parent());
	var src_slot = get_slot(team.parent());
	var dest_round = get_round(slot);
	var dest_slot = get_slot(slot);
	var dist = dest_round - src_round;
	if (dist < 1)
		return false;
	if (Math.floor(src_slot / Math.pow(2, dist) + 0.00001) != dest_slot)
		return false;
	/* TODO: Propagate team across intermediate nodes */
	return true;
}

draggable_team = function (node) {
	node.draggable({
		opacity: 0.75,
		helper: 'clone',
		cursor: 'move',
		revert: function (slot) {
			if (!slot || !team_allowed_in_slot($(this), slot))
				return true;
			var team = $(this).clone();
			var team_name = /^round-\d+-team-(.+)$/.exec(team.attr('id'))[1];
			var round = get_round(slot);
			team.attr('id', 'round-'+round+'-team-'+team_name);
			team.addClass('pick');
			draggable_team(team);
			slot.removeClass('blank').empty().append(team);
			picks['round-'+round+'-slot-'+get_slot(slot)] = team_name;
			set_unsaved();
			return false;
		}
	});
}

droppable_slot = function (node) {
	node.droppable({
		hoverClass: 'hover'
	});
}

$(function () {
	draggable_team($('.contesting'));
	draggable_team($('.pick'));
	droppable_slot($('.blank'));
	$('#final_score_1').change(set_unsaved).keypress(set_unsaved);
	$('#final_score_2').change(set_unsaved).keypress(set_unsaved);
	$('#save_form input').click(function () { save_picks("Saving..."); });
});
</script>
{% else %}
<style type="text/css">
.contesting {
	cursor: default !important;
}
</style>
{% endif %}
<table id="chart">
<tr>
	<th>1st Round</th><th>2nd Round</th><th>Reg. Semis</th><th>Reg. Finals</th><th>Nat. Semis</th><th>Championship</th>
	<th>Nat. Semis</th><th>Reg. Finals</th><th>Reg. Semis</th><th>2nd Round</th><th>1st Round</th>
</tr>
{% for row in chart %}
<tr>
	{% for cell in row %}
	{% ifequal cell "top" %}

	<td rowspan="6" class="centre">&nbsp;</td>

	{% else %}{% if cell.champ %}
	{# Stupid special case. #}
	<td rowspan="20" class="centre"><table width="100%">

	{% with cell.a as cell %}<tr>
	{% include "marchmadness/cell.html" %}
	</tr>{% endwith %}
	{% with cell.champ as cell %}<tr>{% include "marchmadness/cell.html" %}
	</tr>{% endwith %}
	<tr><td id="champ_label">Champion</td></tr>
	{% with cell.b as cell %}<tr>{% include "marchmadness/cell.html" %}
	</tr>{% endwith %}

	</table></td>
	{% else %}{% ifequal cell "bottom" %}

	<td rowspan="6" class="centre">{% if editable %}
		Tiebreaker<br />
		Final game score:<br />
		<input id="final_score_1" value="{{ final_score_1 }}" maxlength="3" class="score" />
		&ndash;
		<input id="final_score_2" value="{{ final_score_2 }}" maxlength=="3" class="score" />
	{% endif %}</td>

	{% else %}{% include "marchmadness/cell.html" %}
	{% endifequal %}{% endif %}{% endifequal %}
	{% endfor %}
</tr>
{% endfor %}
</table>
{% if editable %}
<form id="save_form">
	<input type="button" value="Save" disabled="disabled" />
	<span id="save_info"></span><br />
	<span><a href="{% url mm-index %}">Click here to go back.</a></span>
</form>
{% endif %}
