{% extends "marchmadness/base.html" %}
{% block content %}
<table>
<tr>
	<th>Teams</th><th>Round 1</th><th>Round 2</th><th>Round 3</th><th>Quarter-finals</th><th>Semi-finals</th>
	<th>Semi-finals</th><th>Quarter-finals</th><th>Round 3</th><th>Round 2</th><th>Round 1</th><th>Teams</th>
</tr>
{% for row in chart %}
<tr>
	{% for cell in row %}
	<td{% if cell.rowspan %} rowspan="{{ cell.rowspan }}"{% endif %}>{% if cell.team %}{{ cell.team }}{% else %}___{% endif %}</td>
	{% endfor %}
</tr>
{% endfor %}
</table>
{% endblock %}
