{% extends "marchmadness/base.html" %}
{% block content %}
	<article>
	<h1 id="march-madness">March Madness</h1>

	<!-- IMPRINT'S TABLE EMPORIUM -->
	<table id="announce">
	<tr><td>
		<p>Fill out your bracket for free with <em>Imprint</em>. You could win one of over $400 in prizes! Prizes to be confirmed. So far, they include:</p>
		<ul><li>$100 to the Grand Prize winner</li>
		<li>$50 to the &ldquo;Redo Round&rdquo; winner</li>
		<li>UW Retail store gift certificates</li>
		<li>UW Athletics cool swag</li>
		<li>and more to come!</li></ul>
{% if tipoff %}
		<p>Deadline is <strong>{{ tipoff|date:"l, F j" }}</strong> at the tip-off of the first game ({{ tipoff|date:"P" }} EST).</p>
{% endif %}
		<p><a href="{% url mm-terms %}" style="font-weight: normal">Contest rules</a>.</p>
	</td><td><div>

	<p>
{% if first_round_open %}
	<strong>Submissions are open.</strong><br />
{% else %}{% if between_rounds %}
	<strong>Submissions for the first round are closed.</strong><br />
{% else %}{% if second_round_open %}
	<strong>The redo round is currently open.</strong><br />
{% else %}
	<strong>Submissions are closed at this time.</strong><br />
{% endif %}{% endif %}{% endif %}

{% if kiwi %}
	{% if has_account %}You can <a href="{{ edit_url }}">{% if edit_url %}edit{% else %}view{% endif %} your bracket</a><br />or <a href="{% url kiwi-logout %}">log out</a>.
	{% else %}{% if edit_url %}You can <a href="{% url mm-create-account %}">create your own bracket</a><br />or <a href="{% url kiwi-logout %}">log out</a>.{% endif %}{% endif %}
{% else %}
	{% if edit_url %}<a href="{% url mm-login %}">Log in with your UW credentials</a><br /> to participate.{% endif %}
{% endif %}
	</p>

	</div></td></tr></table>

	<hr />
        <table id="sponsors"><tr>
        <td><a href="http://www.waterloostore.uwaterloo.ca"><img src="{{ MEDIA_URL }}images/marchmadness/waterloo-store-logo.png" alt="Waterloo Store" /></a></td>
        <td><h3>Sponsors</h3><a href="http://www.athletics.uwaterloo.ca/"><img src="{{ MEDIA_URL }}images/marchmadness/warriors-logo.png" alt="Waterloo Warriors" /></a></td>
        <td><a href="http://www.feds.ca/"><img src="{{ MEDIA_URL }}images/marchmadness/feds-logo.png" alt="Federation of Students" /></a></td>
        </tr></table>
	<hr />
	<section id="samples">
		<h2>Sample bracket</h2>
		<figure><img src="{{ MEDIA_URL }}images/marchmadness/brent-headshot.jpg" alt="Brent Golem" />
		<div class="legend"><p><strong>Brent Golem</strong> is <em>Imprint</em>'s current Sports and Living editor.</p></div>
		</figure>
		<figure><a href="bracket/Brent_Golem/"><img src="{{ MEDIA_URL }}images/marchmadness/brents-bracket.png" alt="Brent's sample bracket" /></a>
		<div class="legend"><p><a href="bracket/Brent_Golem/">Click to see Brent's bracket.</a></p></div>
		</figure>
	</section>
	<section id="leaderboard">
		<table>
			<tr><th colspan="2">Top brackets</th></tr>{% for contestant in contestants %}
			<tr><td><a href="{% url mm-view-picks contestant.underscored %}">{{ contestant.full_name }}</a></td><td>{{ contestant.first_score }}</td>{#<td>{{ contestant.second_score }}</td>#}</tr>{% endfor %}
			<tr><td colspan="2">&hellip;</td></tr>
		</table>
	</section>
	<section id="matches">
		<table>
			<tr><th colspan="3">Recent matches</th></tr>{% for match in matches %}
			<tr class="{% cycle row1,row2 %}"><td class="winner">{{ match.winner }}</td><td class="score"><strong>{{ match.winner_score }}</strong>&ndash;{{ match.loser_score }}</td><td class="loser">{{ match.loser }}</td></tr>{% endfor %}
		</table>
	</section>
	<p class="free">{% include "content/facebook_link.html" %}</p>
	</article>
	{% if object %}{% include "comments/nested_list.html" %}{% endif %}
{% endblock %}
