{% extends "static/base.html" %}
{% block content %}
	<article>
		<h1>Jobs</h1>
		<h2>System Administrator</h2>
		<p><em>Imprint</em> requires a Systems Administrator up to 15 hrs./week at $11.00/hr. Candidates will have Webmail server administration experience, be familiar with medium scale Linux network administration, SAMBA file management, Windows XP workstations, LDAP authentication and Apache admin. Duties include maintaining and strengthening our office&rsquo;s network system. Applicants must be full-time students and eligible for OSAP. Please send resume to <a href="mailto:editor@imprint.uwaterloo.ca">editor@imprint.uwaterloo.ca</a>.</p>
	</article>
{% endblock %}
