{% extends "admin/base_site.html" %}
{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="/admin/">{% trans "Home" %}</a> &rsaquo;
     <a href="/admin/content/">Content</a> &rsaquo; 
     <a href="/admin/content/piece/">Pieces</a>
     {% block morebreadcrumbs %}{% endblock %}
</div>
{% endblock %}

{% comment %}{% block sidebar %}
<div id="content-related">
Sup!
</div>
{% endblock %}{% endcomment %}
 
