{% extends "content/fullwidth.html" %}
{% load people %}
{% if object %}{% block header %}{{ object.headline|striptags }}{% endblock %}{% endif %}
{% block maintag %}article{% endblock %}
{% block maintagclose %}article{% endblock %}
{% block content %}{% if object %}
	<h1>{{ object.headline|safe }}</h1>{% if object.deck %}
	<h2>{{ object.deck|safe }}</h2>{% endif %}{% endif %}
	<section class="image" style="width: {{ image.image.width }}px;">
		<img src="{{ MEDIA_URL }}{{ image.image.url }}" width="{{ image.image.width }}" height="{{ image.image.height }}" />
		<ul>{% for credit in image.credits %}
			<li>{% contributor_link credit.contributor %}</li>
		{% endfor %}{% if image.courtesy %}
			<li>Courtesy {{ image.courtesy }}</li>
		{% endif %}</ul>
		{% if image.cutline %}<p>{{ image.cutline|safe }}</p>{% endif %}
	</section>
	{% if object %}{% include "comments/nested_list.html" %}{% endif %}
{% endblock %}
