{% load i18n %}
<script type="text/javascript">
jQuery(function($) {
  $('div.inline-group').sortable({
    /*containment: 'parent',
    zindex: 10,*/
    items: 'div.inline-draggable',
    handle: 'h3:first',
    update: function() {
      $(this).find('div.inline-draggable').not('div.inline-related:last').each(function(i) {
        $(this).find('input[id$=order]').val(i+1);
      });
    }
  });
  $('div.inline-draggable h3').css('cursor', 'move');
  /*$('div.inline-draggable').find('input[id$=order]').parent('div').hide();*/
});
</script>
<div class="inline-group">
  <h2>Content (drag and drop to reorder)</h2>
{{ inline_admin_formset.formset.management_form }}
{{ inline_admin_formset.formset.non_form_errors }}

{% for inline_admin_form in inline_admin_formset %}
<div class="inline-related inline-draggable{% if forloop.last %} last-related{% endif %}">
  <h3><b>{{ inline_admin_formset.opts.verbose_name|title }}:</b>&nbsp;{% if inline_admin_form.original %}{{ inline_admin_form.original }}{% else %} #{{ forloop.counter }}{% endif %}
    {% if inline_admin_formset.formset.can_delete and inline_admin_form.original %}<span class="delete">{{ inline_admin_form.deletion_field.field }} {{ inline_admin_form.deletion_field.label_tag }}</span>{% endif %}
  </h3>
  {% if inline_admin_form.show_url %}
  <p><a href="../../../r/{{ inline_admin_form.original.content_type_id }}/{{ inline_admin_form.original.id }}/">{% trans "View on site" %}</a></p>
  {% endif %}
  {% if inline_admin_form.form.non_field_errors %}{{ inline_admin_form.form.non_field_errors }}{% endif %}

  {% for fieldset in inline_admin_form %}
  {% with forloop.counter0 as ctr %}
    {% include "admin/includes/fieldset.html" %}
  {% endwith %}
  {% endfor %}
  {{ inline_admin_form.pk_field.field }}
  {{ inline_admin_form.fk_field.field }}
</div>
{% endfor %}

</div>
{# vi: set sw=2 ts=2 sts=2 tw=79 ai nocindent: #}
