{% extends "base.html" %}
{% load people %}
{% block header %}{{ object.headline|striptags }} - {{ object.section }}{% endblock %}
{% block right %}
	{{ block.super }}
	<p>Section: {{ object.section }}</p>
{% endblock %}
{% block content %}
	<h1>{{ object.headline|safe }}</h1>
	{% if object.deck %}<h2>{{ object.deck|safe }}</h2>{% endif %}
	{% for part in parts %}
	{% if part.text %}{% with part.text as text %}
		{% if text.title %}<h3>{{ text.title|safe }}</h3>{% endif %}
		<div class="copy">
		{{ text.copy|safe }}
		</div>
		<ul class="credit">{% for byline in text.bylines %}
			<li>{% contributor_link byline.contributor %}</li>
		{% endfor %}</ul>
		{% if text.sources %}<p class="sources">&mdash; With sources from {{ text.sources }}</p>{% endif %}
	{% endwith %}{% endif %}
	{% if part.image %}{% with part.image as image %}
		<a href="{{ image.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ image.image.url }}" id="image{{ image.order }}" /></a>
		{% if image.cutline %}<label for="image{{ image.order }}">{{ image.cutline|safe }}</label>{% endif %}
		<ul class="credit">{% for credit in image.credits %}
			<li>{% contributor_link credit.contributor %}</li>
		{% endfor %}{% if image.courtesy %}
			<li>Courtesy {{ image.courtesy }}</li>
		{% endif %}</ul>
	{% endwith %}{% endif %}
	{% endfor %}
{% endblock %}
