{% extends "base.html" %}
{% load people %}
{% load content %}
{% load issues %}
{% block header %}{{ object.headline|striptags }} - {{ object.section }}{% endblock %}
{% block right %}
	{{ block.super }}
	<p>Section: {% section_link section %}</p>
{% endblock %}
{% block content %}
	<h1>{{ object.headline|safe }}</h1>
	{% if object.deck %}<h2>{{ object.deck|safe }}</h2>{% endif %}
	{% for unit in units %}
	{% if unit.is_copy %}{% with unit.copy as copy %}
		<ul class="credit">{% for byline in copy.bylines %}
			<li>{% contributor_link byline.contributor %}{% if byline.position %}<br />
			{{ byline.position }}{% endif %}
			</li>
		{% endfor %}</ul>
		{% if copy.title %}<h3>{{ copy.title|safe }}</h3>{% endif %}
		<div class="copy">
		{{ copy.body|safe }}
		</div>
		{% if copy.sources %}<p class="sources">&mdash; With sources from {{ copy.sources }}</p>{% endif %}
	{% endwith %}{% endif %}
	{% if unit.is_image %}{% with unit.image as image %}
		{% if forloop.first %}
		<a href="{{ image.get_absolute_url }}">{% full_thumbnail image %}</a>
		{% if image.cutline %}<label for="image{{ image.id }}">{{ image.cutline|safe }}</label>{% endif %}
		<ul class="credit">{% for credit in image.credits %}
			<li>{% contributor_link credit.contributor %}</li>
		{% endfor %}{% if image.courtesy %}
			<li>Courtesy {{ image.courtesy }}</li>
		{% endif %}</ul>
		{% else %}
		<a href="{{ image.get_absolute_url }}">{% thumbnail image %}</a>
		{% endif %}
	{% endwith %}{% endif %}
	{% endfor %}
{% endblock %}
