{% extends "content/base_admin.html" %}

{% load adminmedia %}
{% load i18n %}

{% block stylesheet %}{% admin_media_prefix %}css/forms.css{% endblock %}

{% block extrahead %}
<!-- OH GOD -->
<script type="text/javascript" src="../../../jsi18n/"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/urlify.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.autocomplete.js"></script>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.autocomplete.css" type="text/css" />
<style type="text/css">
.vSmallField { width: 6em; }
</style>
<script type="text/javascript">
/* Make parts draggable */
jQuery(function($) {
  $('div.inline-group').sortable({
    /*containment: 'parent',
    zindex: 10,*/
    items: 'div.inline-sortable',
    handle: 'h3:first',
    update: function() {
      $(this).find('div.inline-sortable')/*.not('div.inline-sortable:last')*/.each(function(i) {
        $(this).find('input[id$=order]').val(i+1);
      });
    }
  });
  $('div.inline-sortable h3').css('cursor', 'move');
  $('div.inline-sortable').find('input[id$=order]').parent('div').parent('div').hide();
});

autoCompleteParse = function (data) {
	return data.map(function (row) {
		return {data: row, value: row.id, result: row.name};
	});
}

autoCompleteFormatItem = function (item, pos, len) { return item.name; }

makeAutoCompleteInput = function(input) {
	input.autocomplete("{% url admin-contributor-lookup %}", {
		multiple: true, matchContains: true, mustMatch: false,
		parse: autoCompleteParse, formatItem: autoCompleteFormatItem,
		dataType: 'json'});
};
</script>

{% endblock %}

{% block bodyclass %}content-section change-form{% endblock %}

{% block morebreadcrumbs %}&rsaquo; Add piece{% endblock %}

{% block content %}
<div id="content-main">
<form enctype="multipart/form-data" action="" method="post" id="section_form">
<div>
{% if form.errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    <ul class="errorlist">{% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% else %}{% if not form.is_ready %}
    <p class="errornote">
    This data is not yet saved. Please fill out the extra information below.
    </p>
{% endif %}{% endif %}

<fieldset class="module aligned">
	<div class="form-row headline{% if form.headline.errors %} errors{% endif %}"><div>
		{{ form.headline.errors }}
		<label for="id_headline" class="required">Headline:</label>
		{{ form.headline }}
		<p class="help">Markup is OK.</p>
	</div></div>
	<div class="form-row slug{% if form.slug.errors %} errors{% endif %}"><div>
		{{ form.slug.errors }}
		<label for="id_slug" class="required">Slug:</label>
		{{ form.slug }}
		<p class="help">Determines the piece's URL.</p>
	</div></div>
	<div class="form-row deck{% if form.deck.errors %} errors{% endif %}"><div>
		{{ form.deck.errors }}
		<label for="id_deck">Deck:</label>
		{{ form.deck }}
		<p class="help">Optional subheadline.<p>
	</div></div>
</fieldset>
<fieldset class="module aligned">
	<h2>Placement</h2>
	<div class="form-row section{% if form.section.errors %} errors{% endif %}"><div>
		{{ form.section.errors }}
		<label for="id_section" class="required">Section:</label>
		{{ form.section }}
		<a href="../../../issues/section/add/" class="add-another" id="add_id_section" onclick="return showAddAnotherPopup(this);"> <img src="{% admin_media_prefix %}img/admin/icon_addlink.gif" width="10" height="10" alt="Add Another"/></a>
	</div></div>
	<div class="form-row issue{% if form.issue.errors %} errors{% endif %}"><div>
		{{ form.issue.errors }}
		<label for="id_issue" class="required">Issue:</label>
		{{ form.issue }}
		&nbsp;of volume&nbsp;
		{{ form.volume }}

		{# TODO: Auto-populate #}
		<select name="issue_dummy" id="id_issue_dummy" style="display: none;"><option value="">Ignore me</option></select>
		<a href="../../../issues/issue/add/" class="add-another" id="add_id_issue_dummy" onclick="return showAddAnotherPopup(this);"> <img src="{% admin_media_prefix %}img/admin/icon_addlink.gif" width="10" height="10" alt="Add Another"/></a>
	</div></div>
	<div class="form-row is_live{% if form.is_live.errors %} errors{% endif %}"><div>
		{{ form.is_live.errors }}
		{{ form.is_live }}
		<label for="id_is_live" class="vCheckboxLabel">Live</label>
	</div></div>
</fieldset>
<div class="inline-group">
	<h2>Content</h2>
	{% for part in form.parts %}
	<div class="inline-related inline-sortable">
	<h3><b>{{ part.type }}</b></h3>
	<fieldset class="module aligned">
	<div class="form-row order {{ part.class }}"><div>
		<label for="id_{{ part.name }}-order">Order:</label>
		<input name="{{ part.name }}-order" id="id_{{ part.name }}-order" class="vSmallField" type="text" value="{{ part.order }}" />
	</div></div>
	{% ifequal part.type "Image" %}
		<div class="form-row image {{ part.class }}"><div>
			<label class="required">Image:</label>
			<a href="{{ part.image_url }}">{{ part.image }}</a><br />
			relative to media folder.
			<input name="{{ part.name }}-image" type="hidden" value="{{ part.image }}" />
		</div></div>
		<div class="form-row cutline {{ part.class }}"><div>
			<label for="id_{{ part.name }}-cutline">Cutline:</label>
<textarea name="{{ part.name }}-cutline" id="id_{{ part.name }}-cutline" class="vLargeTextField" rows="3" cols="30" />
{{ part.cutline }}</textarea>
		<p class="help">Markup is OK.</p>
		</div></div>

		<div class="form-row photographers {{ part.class }}"><div>
			<label for="id_{{ part.name }}-photographers">Photographers:</label>
			<input name="{{ part.name }}-photographers" id="id_{{ part.name }}-photographers" class="vTextField" type="text" value="{{ part.photographers }}" />
			{% comment %}TODO: Populate automatically{% endcomment %}
			<input id="id_{{ part.name }}-photographers-dummy" type="hidden" />
			<a href="../../../people/contributor/add/" class="add-another" id="add_id_{{ part.name }}-photographers-dummy" onclick="return showAddAnotherPopup(this);"> <img src="{% admin_media_prefix %}img/admin/icon_addlink.gif" width="10" height="10" alt="Add Another"/></a>
			<p class="help">Comma-separated list of names.</p>
		</div></div>

		<div class="form-row artists {{ part.class }}"><div>
			<label for="id_{{ part.name }}-artists">Graphic artists:</label>
			<input name="{{ part.name }}-artists" id="id_{{ part.name }}-artists" class="vTextField" type="text" value="{{ part.artists }}" />
			{% comment %}TODO: Populate automatically{% endcomment %}
			<input id="id_{{ part.name }}-artists-dummy" type="hidden" />
			<a href="../../../people/contributor/add/" class="add-another" id="add_id_{{ part.name }}-artists-dummy" onclick="return showAddAnotherPopup(this);"> <img src="{% admin_media_prefix %}img/admin/icon_addlink.gif" width="10" height="10" alt="Add Another"/></a>
			<p class="help">Comma-separated list of names.</p>
		</div></div>

		<script type="text/javascript">
		$(document).ready(function () {
			makeAutoCompleteInput($("#id_{{ part.name }}-photographers"));
			makeAutoCompleteInput($("#id_{{ part.name }}-artists"));
		});
		</script>

	{% endifequal %}
	{% ifequal part.type "Text" %}
		<div class="form-row copy {{ part.class }}"><div>
			<label class="required">Copy:</label>
			{{ part.copy|safe }}
			<input type="hidden" name="{{ part.name }}-copy" value="{{ part.copy }}" />
		</div></div>
<div class="form-row sources {{ part.class }}"><div>
		<label for="id_{{ part.name }}-sources">Sources:</label>
		<input name="{{ part.name }}-sources" id="id_{{ part.name }}-sources" class="vTextField" type="text" value="{{ part.sources }}" />
		<p class="help">Appears as &quot;&mdash; With sources from...&quot;</p>
	</div></div>

	{% endifequal %}
	</fieldset></div>
	{% endfor %}

	<div class="inline-related">
	{% if form.parts %}<h3>Extra uploads</h3>{% endif %}
	<fieldset class="module aligned">
	{% for upload in uploads %}
	<div class="form-row"><div>
		<label></label>
		<input type="file" name="{{ upload }}" />
	</div></div>
	{% endfor %}
	<p class="help">
	You can upload .doc files with formatted text, and image files.
	</p>
	</fieldset></div>
</fieldset>
</div>
<div class="submit-row" >
<input type="submit" value="Upload" class="default" name="_upload" />
</div>
</form>
</div>

<script type="text/javascript">
    document.getElementById("id_headline").focus();

    document.getElementById("id_slug").onchange = function() { this._changed = true; };
    
    document.getElementById("id_headline").onkeyup = function() {
        var e = document.getElementById("id_slug");
        if (!e._changed) { e.value = URLify(document.getElementById("id_headline").value, 100); }
    }

</script>

{% endblock %}
