{% extends "content/base_admin.html" %}
{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/changelists.css{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block content %}
<div id="content-main">
<ul class="object-tools"><li><a href="add/" class="addlink">Add piece</a></li></ul>
<div class="module filtered" id="changelist">

<div class="changelist-filter">
<h2>Filter</h2>
<h3>By stuff</h3>
<ul><li class="selected"><a href="?">Hello</a></li>
<li><a href="?">World</a></li>
</ul>
</div>

</div>
</div>
{% endblock %}
