	<div class="preview">
	<h1><a href="{{ object.get_absolute_url }}">{{ object.headline|safe }}</a></h1>
	{% if object.deck %}<h2>{{ object.deck|safe }}</h2>{% endif %}
	{% with object.parts.all.0 as part %}
	{% if part.text %}{% with part.text as text %}
		{% if text.title %}<h3>{{ text.title|safe }}</h3>{% endif %}
		<div class="copy">
		{{ text.copy_preview|safe }}
		</div>
	{% endwith %}{% endif %}
	{% if part.image %}{% with part.image as image %}
		<img src="{{ MEDIA_URL }}{{ image.image.url }}" id="image{{ image.id }}" />
		{% if image.cutline %}<label for="image{{ image.id }}">{{ image.cutline|safe }}</label>{% endif %}
		<ul class="credit">{% for credit in image.credits %}
			<li>{{ credit }}</li>
		{% endfor %}</ul>
	{% endwith %}{% endif %}
	{% endwith %}
	</div>
	{% if forloop and not forloop.last %}<hr />{% endif %}
