	<div class="preview">{% load comments content %}
	<h1><a href="{{ object.get_absolute_url }}">{{ object.headline|safe }}</a></h1>
	{% if object.deck %}<h2>{{ object.deck|safe }}</h2>{% endif %}
	{% for unit in object.preview %}
	{% if unit.is_copy %}{% with unit.copy as copy %}
		{% if copy.title %}<h3>{{ copy.title|safe }}</h3>{% endif %}
		<div class="copy">
		{{ copy.preview|safe }}
		{% get_comment_count for object as comment_count %}
		<a href="{{ object.get_absolute_url }}">Read more...</a>
		<a href="{{ object.get_absolute_url }}#comments">({{ comment_count }} comment{{ comment_count|pluralize }})</a>
		</p>
		</div>
	{% endwith %}{% endif %}
	{% if unit.is_image %}{% with unit.image as image %}
		{% ifequal image.prominence "all" %}<div class="image">
			<a href="{{ object.get_absolute_url }}">{% full_thumbnail image %}</a>
			{% if image.cutline %}<p>{{ image.cutline|safe }}</p>{% endif %}
			{% get_comment_count for object as comment_count %}
			<p><a href="{{ object.get_absolute_url }}#comments">({{ comment_count }} comment{{ comment_count|pluralize }})</a></p>
		</div>{% else %}<div class="sideimage">
			{% thumbnail image %}
		</div>{% endifequal %}
	{% endwith %}{% endif %}
	{% endfor %}
	</div>{# vi: set syntax=htmldjango: #}
	{% if forloop and not forloop.last %}<hr />{% endif %}
