{% extends "content/base_admin.html" %}
{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/changelists.css{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
<div id="content-main">
<ul class="object-tools"><li><a href="add/" class="addlink">Add piece</a></li></ul>
<div class="module filtered" id="changelist">

<div id="toolbar"><form id="changelist-search" action="" method="get">
<div>
<img src="{% admin_media_prefix %}img/admin/icon_searchbox.png" alt="Search" />
<label for="issue">Issue:</label> <input type="text" size="5" name="issue" value="{{ issue.number }}" id="issue" />
<label for="volume">of volume</label> <input type="text" size="5" name="volume" value="{{ issue.volume }}" id="volume" />
<input type="submit" value="Go" />
</div></form></div>
<script type="text/javascript">document.getElementById("issue").focus();</script>

<div id="changelist-filter">
<h2>Filter</h2>
<h3>Live</h3>
<ul><li{% ifequal live "all" %} class="selected"{% endifequal %}><a href="{{ GET_vars }}">All</a></li>
<li{% ifequal live "y" %} class="selected"{% endifequal %}><a href="{{ GET_vars }}&live=y">Yes</a></li>
<li{% ifequal live "n" %} class="selected"{% endifequal %}><a href="{{ GET_vars }}&live=n">No</a></li>
</ul>
</div>

{% if pieces %}
<table cellspacing="0">
<thead>
<tr>
<th>Headline</th>
<th>Section</th>
<th>Live</th>
</tr>
</thead>
<tbody>
{% for piece in pieces %}
	<tr class="{% cycle row1,row2 %}"><th><a href="{{ piece.id }}/">{{ piece.headline|striptags }}</a></th>
	<td>{{ piece.section }}</td>
	<td><img src="/media/admin/img/admin/icon-{{ piece.is_live|yesno }}.gif" /></td></tr>
{% endfor %}
</tbody>
</table>
{% endif %}

<p class="paginator">{{ pieces_count }} piece{{ pieces_count|pluralize }}</p>

</div>
</div>
{% endblock %}
