	<div class="preview">{% load content %}
	<h1><a href="{{ object.get_absolute_url }}">{{ object.headline|safe }}</a></h1>
	{% if object.deck %}<h2>{{ object.deck|safe }}</h2>{% endif %}
	{% for unit in object.preview %}
	{% if unit.is_copy %}{% with unit.copy as copy %}
		{% if copy.title %}<h3>{{ copy.title|safe }}</h3>{% endif %}
		<div class="copy">
		{{ copy.preview|safe }}
		</div>
	{% endwith %}{% endif %}
	{% if unit.is_image %}{% with unit.image as image %}
		{% ifequal image.prominence "all" %}<div class="image">
			<a href="{{ image.get_absolute_url }}">{% full_thumbnail image %}</a>
			{% if image.cutline %}<label for="image{{ image.id }}">{{ image.cutline|safe }}</label>{% endif %}
		</div>{% else %}<div class="sideimage">
			{% thumbnail image %}
		</div>{% endifequal %}
	{% endwith %}{% endif %}
	{% endfor %}
	</div>{# vi: set syntax=htmldjango: #}
	{% if forloop and not forloop.last %}<hr />{% endif %}
