{% extends "content/base_admin.html" %}

{% load adminmedia %}

{% block stylesheet %}{% admin_media_prefix %}css/forms.css{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="../../../jsi18n/"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/urlify.js"></script>
{% endblock %}

{% block bodyclass %}content-section change-form{% endblock %}

{% block morebreadcrumbs %}&rsaquo; Add piece{% endblock %}

{% block content %}
<div id="content-main">
<form enctype="multipart/form-data" action="" method="post" id="section_form">
<div>

<fieldset class="module aligned">
	<div class="form-row headline"><div>
		<label for="id_headline" class="required">Headline:</label>
		<input id="id_headline" name="headline" type="text" class="vTextField" maxlength="100" />
		<p class="help">Markup is OK.</p>
	</div></div>
	<div class="form-row slug"><div>
		<label for="id_slug" class="required">Slug:</label>
		<input id="id_slug" name="slug" type="text" class="vTextField" maxlength="100" />
		<p class="help">Determines the piece's URL.</p>
	</div></div>
	<div class="form-row deck"><div>
		<label for="id_deck">Deck:</label>
		<input id="id_deck" name="deck" type="text" class="vTextField" maxlength="200" />
		<p class="help">Optional subheadline.<p>
	</div></div>
</fieldset>
<fieldset class="module aligned">
	<h2>Placement</h2>
	<div class="form-row section"><div>
		<label for="id_section">Section:</label>
		<select name="section" id="id_section">
			<option value="" selected="selected">---------</option>
{% for option in section_options %}
			<option value="{{ option.id }}">{{ option.name }}</option>
{% endfor %}
		</select>
		<a href="../../section/add/" class="add-another" id="add_id_section" onclick="return showAddAnotherPopup(this);"> <img src="{% admin_media_prefix %}img/admin/icon_addlink.gif" width="10" height="10" alt="Add Another"/></a>
	</div></div>
	<div class="form-row issue"><div>
		<label for="id_issue">Issue:</label>
		<input id="id_issue" name="issue" type="text" class="vTextField" maxlength="100" value="Latest" disabled="disabled" />
	</div></div>
	<div class="form-row is_live"><div>
		<input checked="checked" type="checkbox" name="is_live" id="id_is_live" />
		<label for="id_is_live" class="vCheckboxLabel">Live?</label>
	</div></div>
</fieldset>
<fieldset class="module aligned">
	<h2>Content</h2>
	{% for file in files %}
	<div class="form-row"><div>
		<label>{{ file.type }}</label>
		{% if file.filename %}
		<a href="{{ file.url }}">{{ file.filename }}</a>
		{% else %}
		<input type="file" name="{{ file.name }}" />
		{% endif %}
	</div></div>
	{% endfor %}
	<p class="help">
		You can upload .doc files with formatted text, and image files.
		If an article is composed of several smaller independent stories, upload them as separate .doc files.
	</p>
</fieldset>
</div>
<div class="submit-row" >
<input type="submit" value="Upload" class="default" name="_upload" />
</div>
</form>
</div>

<script type="text/javascript">
document.getElementById("id_headline").focus();

    document.getElementById("id_slug").onchange = function() { this._changed = true; };
    
    document.getElementById("id_headline").onkeyup = function() {
        var e = document.getElementById("id_slug");
        if (!e._changed) { e.value = URLify(document.getElementById("id_headline").value, 100); }
    }
    


</script>

{% endblock %}
