{% extends "content/base_admin.html" %}

{% load adminmedia %}
{% load i18n %}

{% block stylesheet %}{% admin_media_prefix %}css/forms.css{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="../../../jsi18n/"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/urlify.js"></script>
<style type="text/css">
.vSmallField { width: 6em; }
</style>
{% endblock %}

{% block bodyclass %}content-section change-form{% endblock %}

{% block morebreadcrumbs %}&rsaquo; Add piece{% endblock %}

{% block content %}
<div id="content-main">
<form enctype="multipart/form-data" action="" method="post" id="section_form">
<div>
{% if form.errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    <ul class="errorlist">{% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% endif %}

<fieldset class="module aligned">
	<div class="form-row headline{% if form.headline.errors %} errors{% endif %}"><div>
		{{ form.headline.errors }}
		<label for="id_headline" class="required">Headline:</label>
		{{ form.headline }}
		<p class="help">Markup is OK.</p>
	</div></div>
	<div class="form-row slug{% if form.slug.errors %} errors{% endif %}"><div>
		{{ form.slug.errors }}
		<label for="id_slug" class="required">Slug:</label>
		{{ form.slug }}
		<p class="help">Determines the piece's URL.</p>
	</div></div>
	<div class="form-row deck{% if form.deck.errors %} errors{% endif %}"><div>
		{{ form.deck.errors }}
		<label for="id_deck">Deck:</label>
		{{ form.deck }}
		<p class="help">Optional subheadline.<p>
	</div></div>
</fieldset>
<fieldset class="module aligned">
	<h2>Placement</h2>
	<div class="form-row section{% if form.section.errors %} errors{% endif %}"><div>
		{{ form.section.errors }}
		<label for="id_section" class="required">Section:</label>
		{{ form.section }}
		<a href="../../../issues/section/add/" class="add-another" id="add_id_section" onclick="return showAddAnotherPopup(this);"> <img src="{% admin_media_prefix %}img/admin/icon_addlink.gif" width="10" height="10" alt="Add Another"/></a>
	</div></div>
	<div class="form-row issue{% if form.issue.errors %} errors{% endif %}"><div>
		{{ form.issue.errors }}
		<label for="id_issue" class="required">Issue:</label>
		{{ form.issue }}
		&nbsp;of volume&nbsp;
		{{ form.volume }}

		{# TODO: Auto-populate #}
		<select name="issue_dummy" id="id_issue_dummy" style="display: none;"><option value="">Ignore me</option></select>
		<a href="../../../issues/issue/add/" class="add-another" id="add_id_issue_dummy" onclick="return showAddAnotherPopup(this);"> <img src="{% admin_media_prefix %}img/admin/icon_addlink.gif" width="10" height="10" alt="Add Another"/></a>
	</div></div>
	<div class="form-row is_live{% if form.is_live.errors %} errors{% endif %}"><div>
		{{ form.is_live.errors }}
		{{ form.is_live }}
		<label for="id_is_live" class="vCheckboxLabel">Live</label>
	</div></div>
</fieldset>
<fieldset class="module aligned">
	<h2>Content</h2>
	{% for part in form.parts %}
	<div class="form-row"><div>
		<label>Part {{ part.order }}</label>
	</div></div>
	{% endfor %}
	{% for upload in uploads %}
	<div class="form-row"><div>
		<label></label>
		<input type="file" name="{{ upload }}" />
	</div></div>
	{% endfor %}
	<p class="help">
	You can upload .doc files with formatted text, and image files.
	</p>
</fieldset>
</div>
<div class="submit-row" >
<input type="submit" value="Upload" class="default" name="_upload" />
</div>
</form>
</div>

<script type="text/javascript">
    document.getElementById("id_headline").focus();

    document.getElementById("id_slug").onchange = function() { this._changed = true; };
    
    document.getElementById("id_headline").onkeyup = function() {
        var e = document.getElementById("id_slug");
        if (!e._changed) { e.value = URLify(document.getElementById("id_headline").value, 100); }
    }

</script>

{% endblock %}
