{% extends "base.html" %}
{% block header %}{{ object.headline|striptags }} - {{ object.section }}{% endblock %}
{% block content %}
	<em>{{ object.section }}</em>
	<h1>{{ object.headline|safe }}</h1>
	{% if object.deck %}<h2>{{ object.deck|safe }}</h2>{% endif %}
	{% for part in parts %}
	{% if part.text %}
	{% with part.text as text %}
		{{ text.copy|safe }}
		{% if text.sources %}<p class="sources">
		&mdash; With sources from {{ text.sources }}</p>
		{% endif %}
	{% endwith %}
	{% endif %}
	{% if part.image %}
	{% with part.image as image %}
		<img src="{{ MEDIA_URL }}{{ image.image.url }}" id="image{{ image.id }}" />
		{% if image.cutline %}<label for="image{{ image.id }}">{{ image.cutline|safe }}</label>{% endif %}
		<ul class="credit">{% for artist in image.artists.all %}
			<li>{{ artist }}</li>
		{% endfor %}</ul>
	{% endwith %}
	{% endif %}
	{% endfor %}
{% endblock %}
