{% extends "issues/base.html" %}
{% block title %}{{ site.name }} - {{ issue.date|date }}{% endblock %}
{% block head %}
	<meta name="description" content="Imprint is the official student newspaper of the University of Waterloo in Waterloo, Ontario, Canada." />
	<meta name="keywords" content="Imprint, Imprint Publications Waterloo, University of Waterloo, UW, newspaper, student paper, campus, media, press, Waterloo, Ontario, Canada" />
	<link rel="alternate" type="application/rss+xml" title="Latest issue" href="/feeds/latest" />{% if issue.previous %}
	<link rel="prev" href="{{ issue.previous.get_absolute_url }}" title="Issue for {{ issue.previous.date|date }}" />{% endif %}{% if issue.next %}
	<link rel="next" href="{{ issue.next.get_absolute_url }}" title="Issue for {{ issue.next.date|date }}" />{% endif %}{% endblock %}
{% block content %}
{% if issue %}
{% for object in pieces %}{% include "content/piece_preview.html" %}{% endfor %}
{% else %}
There are no issues yet!
{% endif %}
{% endblock %}
