{% extends "issues/base.html" %}
{% block title %}{{ object }} - {{ issue.date|date }} - {{ site.name }}{% endblock %}
{% block head %}
	<link rel="alternate" type="application/rss+xml" title="Latest content from this section" href="/feeds/section/{{ section.slug }}" />{% endblock %}
{% load people %}
{% block content %}
	<h1>{{ object }}</h1>
	{% for editor in editorships %}
	<p><em>{{ editor.title }}: {% contributor_link editor.contributor %}</em></p>
	{% endfor %}
	{% for object in pieces %}{% include "content/piece_preview.html" %}{% endfor %}
{% endblock %}
