{% load issues %}<ul>{% for nav in issue.nav_sections %}
			{% ifequal section nav.section %}<li><strong>{% section_link nav %}</strong></li>
			{% else %}<li>{% section_link nav %}</li>{% endifequal %}{% endfor %}
		</ul>
		<div><table><!-- How do I aligned columns? -->
			{% if section %}<tr><td colspan="2"><em>In this section:</em></td></tr>
{% for highlight in section.highlights %}{% include "issues/highlight.html" %}{% endfor %}{% else %}
			<tr><td colspan="2"><em>In this issue:</em></td></tr>
{% for highlight in issue.highlights %}{% include "issues/highlight.html" %}{% endfor %}{% endif %}
		</table></div>{# vi: set syntax=htmldjango: #}
