{% load html5 %}
		<section class="archive">
		{% load html5 %}{{ issue.date|html5date }}{% if issue.thumbnail %}
		<img src="{{ MEDIA_URL }}{{ issue.thumbnail }}" />{% endif %}
		<p>{% if issue.previous %}<a href="{{ issue.previous.get_absolute_url }}" class="previous" title="{{ issue.previous.date|date }}">Previous issue</a>{% endif %}
		{% if issue.previous and issue.next %} | {% endif %}
		{% if issue.next %}<a href="{{ issue.next.get_absolute_url }}" class="next" title="{{ issue.next.date|date }}">Next issue</a>{% endif %}</p>
		</section>
