{% extends "base.html" %}
{% block maintag %}article{% endblock %}
{% block maintagclose %}article{% endblock %}
{% block content %}
	<h1>{{ object }}</h1>
	{% if object.position %}<h2>{{ object.position }}</h2>{% endif %}
	{% if object.email and user.is_authenticated %}<h3><a href="mailto:{{ object.email }}">{{ object.email }}</a></h3>{% endif %}
	<section>
	<ul>{% for piece in pieces %}
		<li><a href="{{ piece.get_absolute_url }}">{{ piece }}</a></li>
	{% endfor %}</ul>
	</section>
{% endblock %}
