<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>{% block title %}{{ site.name }}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/base.css" />
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
	{% block head %}{% endblock %}
	{% block extra_scripts %}{% endblock %}
</head>
<body>
<div id="doc4" class="yui-t4">
	<div id="hd" role="banner">
		<a href="/"><h1>{{ site.name }}</h1></a>
		<ul id="nav">{% for nav in issue.sections.all %}
			<li><a href="{{ nav.get_absolute_url }}">{{ nav }}</a></li>{% endfor %}
		</ul>
	</div>

	<div id="bd" role="main"><div id="yui-main">
	<div class="yui-b"><div class="yui-g">
		{% block messages %}{% endblock %}
		{% block content %}{% endblock %}
	</div></div></div>
	<div class="yui-b" role="complimentary">{% block right %}
		{% endblock %}</div>
	</div>
	<div id="ft" role="contentinfo">
		<p>{{ site.name }} | <a href="#">Back to top</a></p>
		{% if debug %}<code>{{ sql_queries }}</code>{% endif %}
	</div>
</div>
</body>
</html>
