{% include "utils/html_open_head.html" %}{% comment %}
<html>
<head>
{% endcomment %}	<title>{% block title %}{{ site.name }}{% endblock %}</title>{% block meta %}
{% endblock %}	<link rel="image_src" href="{{ MEDIA_URL }}images/logo-facebook-icon.png" />
{% include "main_stylesheets.html" %}
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/{% block transition %}old{% endblock %}.css" />
	{% if canonical %}<link rel="canonical" href="{{ canonical }}" />{% endif %}
	<!--[if lte IE 8]>
	<script src="{{ MEDIA_URL }}js/html5.js" type="text/javascript"></script>
	<![endif]-->{% block head %}
{% endblock %}{% if debug %}{% include "jquery.html" %}{% endif %}</head>
<body>
<div id="doc4" class="{% block bodydivclass %}yui-t4{% endblock %}">
	<header id="hd">
		<nav class="static">
			<a href="{% url static-about %}">About Imprint</a> &mdash;
			<a href="{% url static-volunteer %}">Volunteer</a> &mdash;
			<a href="{% url static-contact %}">Contact</a> &mdash;
			<a href="{% url static-jobs %}">Now hiring: Sysadmin</a> &mdash;
			<a href="{% url feds-index %}">Feds Exec poll</a>
		</nav>
{% include "banner.html" %}
		<a href="{% url latest-issue %}"><h1>{{ site.name }}</h1></a>
		{% load advertising %}{% random_image_ad 1 %}
		<nav>
		{% include "issues/section_nav.html" %}
		</nav>
	</header>

	<div id="bd">{% block bd %}<div id="yui-main">
	<div class="yui-b">
	<{% block maintag %}div{% endblock %} class="yui-g">
		{% block mainbanner %}{% endblock %}
		{% block content %}{% endblock %}
	</{% block maintagclose %}div{% endblock %}></div></div>
	<aside class="yui-b">{% block aside %}
		<section class="search">
{% include "google-custom-search.html" %}
		</section>
{% include "issues/sidebar.html" %}
{% include "registration/sidebar.html" %}
		{% endblock %}
		{% random_image_ad 2 %}
		{% random_image_ad 3 %}
	</aside>{% endblock %}</div>

	<footer id="ft">
		{% random_image_ad 4 %}
		<p>{{ site.name }} | <a href="#">Back to top</a></p>
		{% if debug %}{% include "utils/debug_queries.html" %}{% endif %}
	</footer>
</div>
{% load misc %}{% googleanalytics %}
</body>
</html>{# vi: set syntax=htmldjango: #}
