{% extends "static/base.html" %}
{% block content %}
	<article>
	<h1>About <em>Imprint Online</em></h1>
	<p>This is the site for Imprint, the <a href="http://uwaterloo.ca/">University of Waterloo</a>'s official student newspaper. <em>Imprint Online</em> distributes the news published by Imprint (weekly in the Fall and Winter terms, and bi-weekly in the Spring) in a web-friendly format.</p>
	<h2>Feedback</h2>
	<p>We're still working on uploading the old content, and adding new modern features to the site. If you have any questions or suggestions for the new site, <a href="mailto:pcollier@imprint.uwaterloo.ca">let me know</a>!</p>
	</article>
{% endblock %}
