{% extends "static/base.html" %}
{% block content %}
	<article>
	<h1>About <em>Imprint Online</em></h1>
	<p>This is the site for Imprint, the <a href="http://uwaterloo.ca/">University of Waterloo</a>'s official student newspaper. <em>Imprint Online</em> distributes the news published by Imprint (weekly in the Fall and Winter terms, and bi-weekly in the Spring) in a web-friendly format.</p>
	<h2>Documents</h2>
	<ul>
		<li><a href="{{ MEDIA_URL }}documents/policies-and-procedures.pdf">Policies and Procedures</a></li>
		<li><a href="{{ MEDIA_URL }}documents/bylaws.pdf">Bylaws</a></li>
	</ul>
	</article>
{% endblock %}
