{% extends "static/base.html" %}
{% block content %}
	<article>
	<h1>Contact us</h1>
	<section>
	<h2>Via email</h2>
	<table>
		<tr><td>Editor-in-chief:</td><td><em>Michael Davenport</em></td><td><a href="mailto:editor@imprint.uwaterloo.ca">editor@imprint.uwaterloo.ca</a></td></tr>
		<tr><td>General Manager:</td><td><em>Cathy Bolger</em></td><td><a href="mailto:cbolger@imprint.uwaterloo.ca">cbolger@imprint.uwaterloo.ca</a></td></tr>
		<tr><td>Ad Manager:</td><td><em>Laurie Tigert-Dumas</em></td><td><a href="mailto:ads@imprint.uwaterloo.ca">ads@imprint.uwaterloo.ca</a></td></tr>
		<tr><td>Letters to the editor:</td><td></td><td><a href="mailto:letters@imprint.uwaterloo.ca">letters@imprint.uwaterloo.ca</a></td></tr>
		<tr><td>Board of Directors:</td><td></td><td><a href="mailto:board@imprint.uwaterloo.ca">board@imprint.uwaterloo.ca</a></td></tr>
	</table>
	</section>

	<section>
	<h2>Via mail / In-person</h2>
	<p>The Imprint office is located at the following address:</p>
	<address>
		Student Life Centre, Room 1116<br />
		University of Waterloo<br />
		200 University Ave. West<br />
		Waterloo, Ontario &nbsp; &nbsp; N2L 3G1<br />
		Canada
	</address>
	</section>

	<section>
	<h2>Via phone / fax</h2>
	<p>We can also be reached by phone between the hours of 8:30 a.m. and 4:30 p.m., Monday to Friday.</p>
	<table>
		<tr><td>Telephone:</td><td>519-888-4048</td></tr>
		<tr><td>Fax:</td><td>519-884-7800</td></tr>
	</table>
	</section>
	</article>
{% endblock %}
