{% extends "static/base.html" %}
{% block content %}
	<article>
		<h1>Getting involved</h1>
		<p>We're always looking for new volunteers! If you are a keen <strong>writer</strong>, <strong>photographer</strong>, <strong>graphic artist</strong>, <strong>editor</strong>, or just a generally <strong>good person</strong>, you can get start getting involved by <a href="{% url static-contact %}">dropping by</a> or <a href="mailto:editor@imprint.uwaterloo.ca">emailing our Editor-in-chief</a>.</p>
	</article>
{% endblock %}
