{% extends "content/base_new.html" %}
{% load content people issues %}
{% block title %}{{ object.headline|striptags|safe }} &mdash; {{ section_map.values|join:", " }}{% endblock %}
{% block meta %}
	{# TODO: These will use the preview, once it's done #}
	<meta name="title" content="{{ title|striptags|safe }}" />
	<meta name="description" content="{{ description|striptags|safe }}" />
{% endblock %}
{% block maintag %}article{% endblock %}
{% block maintagclose %}article{% endblock %}
{% block content %}
	{% include "issues/series_list.html" %}
	{% if object.headline %}<h1>{{ object.headline|safe }}</h1>{% endif %}
	{% if object.deck %}<h2>{{ object.deck|safe }}</h2>{% endif %}
{% for unit in object.body %}
	{% render_unit unit %}{% endfor %}
	<section>{% include "content/facebook_link.html" %}</section>
	{# {% include "comments/nested_list.html" %} #}
{% endblock %}
