{% extends "content/fullwidth.html" %}
{% load content issues people %}
{% block title %}{{ object.headline|striptags }}{% endblock %}
{% if object %}{% block header %}{{ object.headline|striptags }}{% endblock %}{% endif %}
{% block maintag %}article{% endblock %}
{% block maintagclose %}article{% endblock %}
{% block content %}{% if object %}
	{% series_link object.series %}
	<h1>{{ object.headline|safe }}</h1>{% if object.deck %}
	<h2>{{ object.deck|safe }}</h2>{% endif %}{% endif %}
	<figure style="width: {{ image.image.width }}px;">
		<img src="{{ MEDIA_URL }}{{ image.image }}" width="{{ image.image.width }}" height="{{ image.image.height }}" />
		{% fullimagelegend image %}
	</figure>
	{% if object %}{% include "comments/nested_list.html" %}{% endif %}
{% endblock %}
