{% load comments content issues %}
	<article class="preview">{% if not series %}
	{% series_link object.series %}{% endif %}
	{% if not omit_headline %}<h1><a href="{{ object.get_absolute_url }}">{{ object.headline|safe }}</a></h1>{% endif %}
	{% if object.deck %}<h2>{{ object.deck|safe }}</h2>{% endif %}
	<section>{% for unit in object.preview %}
	{% if unit.is_copy %}{% with unit.copy as copy %}
		{% if copy.title %}<h3>{{ copy.title|safe }}</h3>{% endif %}
		{% renderbylines copy %}
		<div class="copy">
		{{ copy.preview|safe }}
		{% get_comment_count for object as comment_count %}
		<a href="{{ object.get_absolute_url }}"><strong>Read&nbsp;more...</strong></a>
		<a href="{{ object.get_absolute_url }}#comments">({{ comment_count }}&nbsp;comment{{ comment_count|pluralize }})</a>
		</p>
		</div>
	{% endwith %}{% endif %}
	{% if unit.is_image %}{% with unit.image as image %}
	{% ifequal image.prominence "all" %}<figure style="width: {% full_thumbnail_width image %}px;">
		<a href="{{ object.get_absolute_url }}">{% full_thumbnail image %}</a>
		{% fullimagelegend image %}
		{% get_comment_count for object as comment_count %}
		<p><a href="{{ object.get_absolute_url }}#comments">({{ comment_count }}&nbsp;comment{{ comment_count|pluralize }})</a></p>
	</figure>{% else %}<figure class="feature" style="width: {% thumbnail_width image %}px;">
		<a href="{{ object.get_absolute_url }}">{% thumbnail image %}</a>
		{% shortimagelegend image %}
	</figure>{% endifequal %}
	{% if image.see_more %}<p><a href="{{ object.get_absolute_url }}"><strong>See&nbsp;more...</strong></a></p>{% endif %}
	{% if image.read_more %}<p><a href="{{ object.get_absolute_url }}"><strong>Read&nbsp;more...</strong></a></p>{% endif %}
	{% endwith %}{% endif %}
	{% endfor %}</section>
	</article>{# vi: set syntax=htmldjango: #}
	{% if forloop and not forloop.last %}<hr />{% endif %}
