{% load comments content issues %}
	<article class="preview">{% if not series %}
	{% series_link object.series %}{% endif %}
	<h1><a href="{{ object.get_absolute_url }}">{{ object.headline|safe }}</a></h1>
	{% if object.deck %}<h2>{{ object.deck|safe }}</h2>{% endif %}
	{% for unit in object.preview %}
	{% if unit.is_copy %}{% with unit.copy as copy %}<section>
		{% if copy.title %}<h3>{{ copy.title|safe }}</h3>{% endif %}
		<div class="copy">
		{{ copy.preview|safe }}
		{% get_comment_count for object as comment_count %}
		<a href="{{ object.get_absolute_url }}"><strong>Read&nbsp;more...</strong></a>
		<a href="{{ object.get_absolute_url }}#comments">({{ comment_count }}&nbsp;comment{{ comment_count|pluralize }})</a>
		</p>
		</div>
	</section>{% endwith %}{% endif %}
	{% if unit.is_image %}{% with unit.image as image %}<figure>
	{% ifequal image.prominence "all" %}
		<a href="{{ object.get_absolute_url }}">{% full_thumbnail image %}</a>
		{% include "content/image_legend.html" %}
		{% get_comment_count for object as comment_count %}
		<p><a href="{{ object.get_absolute_url }}#comments">({{ comment_count }}&nbsp;comment{{ comment_count|pluralize }})</a></p>
	{% else %}
		{% thumbnail image %}
	{% endifequal %}
	</figure>{% endwith %}{% endif %}
	{% endfor %}
	</article>{# vi: set syntax=htmldjango: #}
	{% if forloop and not forloop.last %}<hr />{% endif %}
