{% extends "content/base.html" %}
{% load content people issues %}
{% block header %}{{ object.headline|striptags }} - {{ object.section }}{% endblock %}
{% block maintag %}article{% endblock %}
{% block maintagclose %}article{% endblock %}
{% block content %}
	{% series_link object.series %}
	<h1>{{ object.headline|safe }}</h1>
	{% if object.deck %}<h2>{{ object.deck|safe }}</h2>{% endif %}
	{% for unit in units %}
	{% if unit.is_copy %}{% with unit.copy as copy %}<section>
		<ul class="byline">{% for byline in copy.bylines %}{% if not byline.is_after_copy %}
			<li>{% contributor_link byline.contributor %}{% if byline.position %}<br />
			{{ byline.position }}{% endif %}
			</li>
		{% endif %}{% endfor %}</ul>
		{% if copy.title %}<h3>{{ copy.title|safe }}</h3>{% endif %}
		<div class="copy">
		{{ copy.body|safe }}
		</div>
		{% for byline in copy.bylines %}{% if byline.is_after_copy %}
		<p class="sources">&mdash; {% contributor_link byline.contributor %}</p>
		{% endif %}{% endfor %}
		{% if copy.sources %}<p class="sources">&mdash; With files from {{ copy.sources }}</p>{% endif %}
	</section>{% endwith %}{% endif %}
	{% if unit.is_image %}{% with unit.image as image %}
	{% if forloop.first %}<figure>
		<a href="{{ image.get_absolute_url }}">{% full_thumbnail image %}</a>
		{% include "content/image_legend.html" %}
		{% else %}<figure style="width: 300px;">
		<a href="{{ image.get_absolute_url }}">{% thumbnail image %}</a>
		{% include "content/image_legend.html" %}
		{% endif %}
	</figure>{% endwith %}{% endif %}
	{% endfor %}
	{% include "comments/nested_list.html" %}
{% endblock %}
