{% extends "content/base_admin.html" %}

{% load adminmedia %}
{% load i18n %}

{% block extrastyle %}{% load adminmedia %}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}

{% block extrahead %}
<!-- OH GOD -->
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/urlify.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.autocomplete.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/admin-sortable.js"></script>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.autocomplete.css" type="text/css" />
<style type="text/css">
.vHugeField { width: 40em; }
.vSmallField { width: 6em; }
textarea { width: 80%; }
</style>
<script type="text/javascript">
makeAutoCompleteInput = function(input, with_position) {
	var url = "{% url admin-contributor-lookup "" %}";
	if (with_position) url += "with-position/";
	input.autocomplete(url, {
		multiple: true, matchContains: true, mustMatch: false});
};
</script>

{% endblock %}

{% block bodyclass %}content-section change-form{% endblock %}

{% block morebreadcrumbs %}&rsaquo; {% if piece %}{{ piece }}{% else %}{{ title }}{% endif %}{% endblock %}

{% block content %}
<div id="content-main">
{% if modifying %}
<ul class="object-tools"><li><a href="history/" class="historylink">History</a></li>
<li><a href="{{ piece.get_absolute_url }}" class="viewsitelink">View on site</a></li>
</ul>
{% endif %}
<form enctype="multipart/form-data" action="" method="post" id="section_form">
<div>
{% if form.errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    <ul class="errorlist">{% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% else %}{% if not form.is_ready %}
    <p class="errornote">
    This data is not yet saved. Please fill out the extra information below.
    </p>
{% endif %}{% endif %}

<fieldset class="module aligned">
	<div class="form-row headline{% if form.headline.errors %} errors{% endif %}"><div>
		{{ form.headline.errors }}
		<label for="id_headline" class="required">Headline:</label>
		{{ form.headline }}
		<p class="help">Markup is OK.</p>
	</div></div>
	<div class="form-row slug{% if form.slug.errors %} errors{% endif %}"><div>
		{{ form.slug.errors }}
		<label for="id_slug" class="required">Slug:</label>
		{{ form.slug }}
		<p class="help">Determines the piece's URL.</p>
	</div></div>
	<div class="form-row deck{% if form.deck.errors %} errors{% endif %}"><div>
		{{ form.deck.errors }}
		<label for="id_deck">Deck:</label>
		{{ form.deck }}
		<p class="help">Optional subheadline.</p>
	</div></div>
</fieldset>
<fieldset class="module aligned">
	<h2>Placement</h2>
	<div class="form-row section{% if form.section.errors %} errors{% endif %}"><div>
		{{ form.section.errors }}
		<label for="id_section" class="required">Section:</label>
		{{ form.section }}
		<a href="/admin/issues/section/add/" class="add-another" id="add_id_section" onclick="return showAddAnotherPopup(this);"> <img src="{% admin_media_prefix %}img/admin/icon_addlink.gif" width="10" height="10" alt="Add Another"/></a>
	</div></div>
	<div class="form-row issue{% if form.issue.errors %} errors{% endif %}"><div>
		{{ form.issue.errors }}
		<label for="id_issue" class="required">Issue:</label>
		{{ form.issue }}
		&nbsp;of volume&nbsp;
		{{ form.volume }}

		{# TODO: Auto-populate #}
		<select name="issue_dummy" id="id_issue_dummy" style="display: none;"><option value="">Ignore me</option></select>
		<a href="/admin/issues/issue/add/" class="add-another" id="add_id_issue_dummy" onclick="return showAddAnotherPopup(this);"> <img src="{% admin_media_prefix %}img/admin/icon_addlink.gif" width="10" height="10" alt="Add Another"/></a>
	</div></div>
	<div class="form-row series{% if form.series.errors %} errors{% endif %}"><div>
		{{ form.series.errors }}
		<label for="id_series">Series:</label>
		{{ form.series }}
		<a href="/admin/issues/series/add/" class="add-another" id="add_id_series" onclick="return showAddAnotherPopup(this);"> <img src="{% admin_media_prefix %}img/admin/icon_addlink.gif" width="10" height="10" alt="Add Another"/></a>
		<p class="help">For example, a weekly column or comic.</p>
	</div></div>
</fieldset>
{% if modifying %}
<fieldset class="module aligned">
	<h2>Visibility</h2>
	<div class="form-row is_live{% if form.is_live.errors %} errors{% endif %}"><div>
		{{ form.is_live.errors }}
		{{ form.is_live }}
		<label for="id_is_live" class="vCheckboxLabel">Live</label>
		<p class="help">{{ form.is_live.help_text }}</p>
	</div></div>
	<div class="form-row is_featured{% if form.is_featured.errors %} errors{% endif %}"><div>
		{{ form.is_featured.errors }}
		{{ form.is_featured }}
		<label for="id_is_featured" class="vCheckboxLabel">Feature</label>
		<p class="help">{{ form.is_featured.help_text }}</p>
	</div></div>
	<div class="form-row order{% if form.order.errors %} errors{% endif %}"><div>
		{{ form.order.errors }}
		<label for="id_order">Order:</label>
		{{ form.order }}
	</div></div>
</fieldset>
{% endif %}
<div class="inline-group">
	<h2>Content (drag to reorder)</h2>
	{% for unit in form.units %}
	<div class="inline-related">
	<h3><b>{{ unit.type }}</b></h3>
	<fieldset class="module aligned">
	{% if unit.id %}<input type="hidden" name="{{ unit.name }}-id" value="{{ unit.id }}" />{% endif %}
	<div class="form-row order {{ unit.class }}"><div>
		<label for="id_{{ unit.name }}-order">Order:</label>
		<input name="{{ unit.name }}-order" id="id_{{ unit.name }}-order" class="vSmallField" type="text" value="{{ unit.order }}" />
	</div></div>
	{% ifequal unit.type "Image" %}
		<div class="form-row image {{ unit.class }}"><div>
			<label class="required">Image:</label>
			<a href="{{ unit.image_url }}">{{ unit.image }}</a><br />
			relative to media folder.
			<input name="{{ unit.name }}-image" type="hidden" value="{{ unit.image }}" />
		</div></div>
		<div class="form-row cutline {{ unit.class }}"><div>
			<label for="id_{{ unit.name }}-cutline">Cutline:</label>
<textarea name="{{ unit.name }}-cutline" id="id_{{ unit.name }}-cutline" class="vLargeTextField" rows="4">
{{ unit.cutline }}</textarea>
		<p class="help">Markup is OK.</p>
		</div></div>

		<div class="form-row photographers {{ unit.class }}"><div>
			<label for="id_{{ unit.name }}-photographers">Photographers:</label>
			<input name="{{ unit.name }}-photographers" id="id_{{ unit.name }}-photographers" class="vHugeField" type="text" value="{{ unit.photographers }}" />
			{% comment %}TODO: Populate automatically{% endcomment %}
			<input id="id_{{ unit.name }}-photographers-dummy" type="hidden" />
			<a href="/admin/people/contributor/add/" class="add-another" id="add_id_{{ unit.name }}-photographers-dummy" onclick="return showAddAnotherPopup(this);"> <img src="{% admin_media_prefix %}img/admin/icon_addlink.gif" width="10" height="10" alt="Add Another"/></a>
			<p class="help">Comma-separated list of names.</p>
		</div></div>

		<div class="form-row artists {{ unit.class }}"><div>
			<label for="id_{{ unit.name }}-artists">Graphic artists:</label>
			<input name="{{ unit.name }}-artists" id="id_{{ unit.name }}-artists" class="vHugeField" type="text" value="{{ unit.artists }}" />
			{% comment %}TODO: Populate automatically{% endcomment %}
			<input id="id_{{ unit.name }}-artists-dummy" type="hidden" />
			<a href="/admin/people/contributor/add/" class="add-another" id="add_id_{{ unit.name }}-artists-dummy" onclick="return showAddAnotherPopup(this);"> <img src="{% admin_media_prefix %}img/admin/icon_addlink.gif" width="10" height="10" alt="Add Another"/></a>
			<p class="help">Comma-separated list of names.</p>
		</div></div>

		<script type="text/javascript">
		$(document).ready(function () {
			makeAutoCompleteInput($("#id_{{ unit.name }}-photographers"), false);
			makeAutoCompleteInput($("#id_{{ unit.name }}-artists"), false);
		});
		</script>

		<div class="form-row courtesy {{ unit.class }}"><div>
			<label for="id_{{ unit.name }}-courtesy">Courtesy:</label>
			<input name="{{ unit.name }}-courtesy" id="id_{{ unit.name }}-courtesy" class="vHugeField" type="text" value="{{ unit.courtesy }}" />
		</div></div>

	{% endifequal %}
	{% ifequal unit.type "Copy" %}
		<div class="form-row title {{ unit.class }}"><div>
			<label for="id_{{ unit.name }}-title">Title:</label>
			<input name="{{ unit.name }}-title" id="id_{{ unit.name }}-title" class="vHugeField" type="text" value="{{ unit.title }}" />
			<p class="help">Optional subtitle.</p>
		</div></div>

		<div class="form-row body {{ unit.class }}"><div>
			<label class="required">Copy:</label>
<textarea name="{{ unit.name }}-body" rows="15">
{{ unit.body }}
</textarea>
		</div></div>
		<div class="form-row bylines {{ unit.class }}"><div>
			<label for="id_{{ unit.name }}-bylines">Bylines:</label>
			<input name="{{ unit.name }}-bylines" id="id_{{ unit.name }}-bylines" class="vHugeField" type="text" value="{{ unit.bylines }}" />
			{% comment %}TODO: Populate automatically{% endcomment %}
			<input id="id_{{ unit.name }}-bylines-dummy" type="hidden" />
			<a href="/admin/people/contributor/add/" class="add-another" id="add_id_{{ unit.name }}-bylines-dummy" onclick="return showAddAnotherPopup(this);"> <img src="{% admin_media_prefix %}img/admin/icon_addlink.gif" width="10" height="10" alt="Add Another"/></a>
			<p class="help">Comma-separated list of names. A person's name can be followed by their position, in parentheses.</p>
		</div></div>
		<script type="text/javascript">
		$(document).ready(function () {
			makeAutoCompleteInput($("#id_{{ unit.name }}-bylines"), true);
		});
		</script>

		<div class="form-row sources {{ unit.class }}"><div>
			<label for="id_{{ unit.name }}-sources">Sources:</label>
			<input name="{{ unit.name }}-sources" id="id_{{ unit.name }}-sources" class="vHugeField" type="text" value="{{ unit.sources }}" />
			<p class="help">Appears as &quot;&mdash; With files from...&quot;</p>
		</div></div>
	{% endifequal %}
	</fieldset></div>
	{% endfor %}

	<div class="inline-related">
	{% if form.units %}<h3>Extra uploads</h3>{% endif %}
	<fieldset class="module aligned">
	{% for upload in uploads %}
	<div class="form-row"><div>
		<label></label>
		<input type="file" name="{{ upload }}" />
	</div></div>
	{% endfor %}
	<p class="help">
	You can upload .doc files with formatted text, plain .txt files, or images.
	</p>
	</fieldset></div>
</fieldset>
</div>
<div class="submit-row" >
{% if modifying %}
<input type="submit" value="Save" class="default" name="_save" />
<p class="deletelink-box"><a href="delete/" class="deletelink">Delete</a></p>
{% else %}
<input type="submit" value="Upload" class="default" name="_upload" />
{% endif %}
</div>
</form>
</div>

<script type="text/javascript">
    document.getElementById("id_headline").focus();

    document.getElementById("id_slug").onchange = function() { this._changed = true; };
    
    document.getElementById("id_headline").onkeyup = function() {
        var e = document.getElementById("id_slug");
        if (!e._changed) { e.value = URLify(document.getElementById("id_headline").value, 100); }
    }

</script>

{% endblock %}
