{% extends "archive/base.html" %}
{% block title %}{{ object.publication }} archive for {{ object.date|date }}{% endblock %}
{% block content %}
	<h1><cite>{{ object.publication }}</cite> on {{ object.date|date }}</h1>
	<section id="archive"><ul>{% for page in object_list %}
		<li><a href="{{ page.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ page.thumbnail }}" alt="Page {{ page.page_from }}{% if page.page_to %} &ndash; {{ page.page_to }}{% endif %}" /></a></li>{% endfor %}
	</ul></section>
{% endblock %}
