{% extends "feds/base.html" %}
{% block content %}
	<h1>Feds Election</h1>
	<form action="." method="POST">
	{% for position in positions %}{% with position.candidates.count as cancount %}
	<table id="feds">
	{# TODO: CSRF #}
	<tr><th colspan="{{ cancount }}">{{ position }} {% ifequal cancount 1 %}acclamation{% else %}nominees{% endifequal %}</th></tr>
	<tr>{% for candidate in position.candidates.all %}
		<td>{% if not can_vote %}<label>{{ candidate }}</label>
		{% else %}<input type="radio" name="{{ position.slug }}" value="{{ candidate.slug }}" id="id-{{ candidate.slug }}" /> <label for="id-{{ candidate.slug }}">{{ candidate }}</label>{% endif %}
		<p>{{ candidate.description|safe }}</p>
		</td>{% endfor %}
	</tr>
	</table>
	{% endwith %}{% endfor %}
	{% if can_vote %}<input type="submit" value="Vote" />{% endif %}
	</form>
{% endblock %}
